{% extends 'base.html' %}

{% block one %}
    <div class="transfer_ownership">
        <h1>Transfer Ownership</h1>
        <h2>Product Details:</h2>
            <h3>{{ product.name }}</h3>
            <h5>{{ product.desc }}</h5>
            <p>Manufactured By: {{ product.manufacturer.username }}</p>
            <p>Retailer: {{ product.retailer.username }}</p>
            <p>Current Owner: {{ product.owner.username }}</p>
        <form class="transfer_ownership_form" action="{% url 'smartcontract:transfer' id=product.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Transfer Ownership">
        </form>
    </div>
    <!-- <script src="/static/slugify.js"></script> -->
{% endblock %}